body {
  background-color: black;
  color: greenyellow;
  font-family: sans-serif;
}

#game-board {
  background-color: red;
  border: 2px solid grey;
  width: 960px;
  height: 576px;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-size: contain;

    &:hover {
      opacity: 0.8;
    }
  }
}